# ATP Tennis 2000-2025 - EDA

In [1]:
# imports
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('../data/atp_tennis.csv')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65242 entries, 0 to 65241
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tournament  65242 non-null  object
 1   Date        65242 non-null  object
 2   Series      65242 non-null  object
 3   Court       65242 non-null  object
 4   Surface     65242 non-null  object
 5   Round       65242 non-null  object
 6   Best of     65242 non-null  int64
 7   Player_1    65242 non-null  object
 8   Player_2    65242 non-null  object
 9   Winner      65242 non-null  object
 10  Rank_1      65242 non-null  int64
 11  Rank_2      65242 non-null  int64
 12  Pts_1       65242 non-null  int64
 13  Pts_2       65242 non-null  int64
 14  Odd_1       65242 non-null  float64
 15  Odd_2       65242 non-null  float64
 16  Score       65242 non-null  object
dtypes: float64(2), int64(5), object(10)
memory usage: 8.5+ MB

In [11]:
df['Tournament'].value_counts()

Tournament
Australian Open                3155
French Open                    3052
US Open                        3002
Wimbledon                      2939
BNP Paribas Open               1463
                               ...
Forte Village Sardegna Open      25
Zhuhai Open                      25
Hangzhou Open                    25
Gijon Open                       24
Korea Open                       24
Name: count, Length: 265, dtype: int64

In [12]:
df['Series'].value_counts()

Series
ATP250                17201
Grand Slam            12148
International         11752
Masters 1000           8902
ATP500                 6218
Masters                5029
International Gold     3620
Masters Cup             372
Name: count, dtype: int64

In [13]:
df['Court'].value_counts()

Court
Outdoor    53588
Indoor     11654
Name: count, dtype: int64

In [14]:
df['Surface'].value_counts()

Surface
Hard      35345
Clay      21108
Grass      7157
Carpet     1632
Name: count, dtype: int64

In [15]:
df['Round'].value_counts()

Round
1st Round        29895
2nd Round        18186
Quarterfinals     6190
3rd Round         4603
Semifinals        3164
The Final         1607
4th Round         1183
Round Robin        414
Name: count, dtype: int64

In [16]:
df['Best of'].value_counts()

Best of
3    53018
5    12224
Name: count, dtype: int64

In [17]:
df['Winner'].value_counts().head(10)

Winner
Federer R.     1151
Djokovic N.    1032
Nadal R.       1007
Ferrer D.       677
Murray A.       670
Berdych T.      575
Gasquet R.      574
Roddick A.      564
Monfils G.      551
Wawrinka S.     533
Name: count, dtype: int64